@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scrollbar-width: thin;
  /* For Firefox */
  scrollbar-color: darkgrey y;
  /* For Firefox */
}

body::-webkit-scrollbar {
  width: 0.1em;
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

:root {
  --main-bg: #ffffff;
  --secondary-bg: rgba(28, 28, 28, 0.05);
  --text-color: #000000;
}

.dark {
  --main-bg: rgba(28, 28, 28, 1); /* var(--white-100) */
  --secondary-bg: rgba(255, 255, 255, 0.05); /* var(--Primary-Light) */
  --text-color: #ffffff;
}
